/* css reset | yojeero */
*,::after,::before{box-sizing:border-box}*{margin:0}body,html{height:100%}body{line-height:1.5;min-height:100vh}canvas,img,picture,svg,video{display:block;max-width:100%}h1,h2,h3,h4,h5,h6,p{overflow-wrap:break-word}button,input,select,textarea{font:inherit}ol[role=list],ul[role=list]{list-style:none}

/* ---- main ------ */

body
{
	font-family : 'Jost','Segoe UI','Helvetica Neue', system-ui;
	font-size : 1rem;
	font-weight : 400;

	transition : all .5s ease-in-out;
	transition : color 1s;
	letter-spacing : 1px;

	color : #989da2;
}

/* ------ main theme -------- */

.container
{
	z-index : 1;

	display : flex;
	align-items : center;
	justify-content : center;

	width : 100%;
	height : 100%;	

	background : url(../img/wave.svg) no-repeat center, #1b2344;
	background-size : cover;
}

.player
{
	z-index : 999;

	display : flex;
	flex-direction : column;
    align-items : center;
	justify-content: flex-start;

	/* width : 320px;
	height : 680px;  */

	width : 20rem;
	height : 42.5rem;

	margin : 0;
	padding : 0;

	transition : all .5s ease-in-out;

	border-radius : 40px;

	background : #141d29;
	box-shadow : -30px -30px 60px #0b0e18, 30px 30px 60px #000;	
}

.top-icon
{
	display : flex;
	align-items : center;
	flex-flow : row nowrap;
	justify-content : space-around;

	width : 80%;
	height : 3.125rem;

	color : #89864c; 
}

.point a
{
	display : flex;

	width : .875rem;
	height : .875rem;

	cursor : pointer;
	transition : all .3s ease;

	border-radius : 50%;

	background : #036b8b;
}

.point a:hover
{
	background : #cf950d;
}

.time-label
{
	font-size : .875rem;
	font-variant : small-caps;

	display : flex;
	justify-content : space-between;

	width : 4.375rem;
	margin-left : 5rem;

	user-select : none;
	pointer-events : none;
}

.color-label
{
	font-size : .875rem;
	font-variant : small-caps;

	display : flex;
}

.color-label:hover
{
	color : #c10c2c;
}

.time-label svg ,
.color-label svg
{
	display : flex;

	width : 1.25rem;
	height : 1.25rem;

	cursor : pointer;
	transition : all .3s ease;

	fill : currentColor;
	stroke : currentColor;
	stroke-width : 0;
}

.time-radio
{
	font-size : .875rem;

	display : flex;
	display : none;
	justify-content : space-between;

	width : 4.375rem;
	margin-left : 5rem;

	user-select : none;
	pointer-events : none;

	color : #89864c;
}

input[type=checkbox]
{
	visibility : hidden;

	width : 0;
	height : 0;
}

input[type=checkbox]:checked
{
	outline : none;
}

input:focus, input:active
{
	outline : none;
}

.cover-img
{
	position : relative;

	display : flex;	
    
    /* width : 320px;
	height : 400px;	*/

    width : 20rem;
	height : 25rem;	
}	

.album-img
{
	position : absolute;
	z-index : 600;
	top : 0;
	left : 0;
    
    width : 100%;
	height : 100%;

	border-top-left-radius : 40px;
	border-top-right-radius : 40px;

	background-size : cover;
}

.progress
{
	display : flex;
	align-items : flex-start;
	flex-flow : row nowrap;

	width : 100%;
	height : .5rem;

	user-select : none;
	pointer-events : none;
}

.progress_bar
{
	position : relative;
	z-index : 800;

	display : inline-block;
	overflow : hidden;

	width : 100%;
	height : .5rem;

	user-select : none;
	pointer-events : none;
}

.line
{
	position : absolute;
	z-index : 900;

	width : 0;
	height : inherit;

	background : #cf950d;
}

.main
{
	display : flex;
	align-items : center;
	flex : 1;
	flex-flow : row nowrap;
	justify-content : space-between;

	width : 100%;
	height : 100%;

	padding : 0 1rem 0 2rem;

	color : #a6a35e;

	border-bottom-right-radius : 40px;
	border-bottom-left-radius : 40px;

	background : #0c131b;
}

.album-info
{
	display : flex;
	flex-direction : column;

	width : 50%;

	user-select : none;
	text-align : left;
	pointer-events : none;
}

.name
{
	font-size : .8125rem;
}

.artist
{
	font-size : .6875rem;
}

.player-controls
{
	z-index : 999;

	display : flex;
	align-items : center;
	flex-flow : row nowrap;
	justify-content : center;

	width : 50%;
}

.pn-icon
{
	display : flex;
	align-items : center;
	justify-content : center;

	cursor : pointer;
	outline : none;
}

.pn-icon svg
{
	display : flex;
	align-items : center;
	justify-content : center;

	width : 1.5rem;
	height : 1.5rem;

	cursor : pointer;
	transition : all .3s ease;

	color : #036b8b;

	fill : currentColor;
	stroke : currentColor;
	stroke-width : 0;
}

.pn-icon svg:hover
{
	width : 1.75rem;
	height : 1.75rem;
	
	color : #c10c2c;
}

.xl-icon
{
	display : flex;
	align-items : center;
	justify-content : center;

	width : 3.5rem;
	height : 3.5rem;

	margin : 0 .5rem;
	padding : 0;

	cursor : pointer;
	transition : all .2s ease-in-out;

	border-radius : 50%;
	outline : none;

	background : #172433;
}

.xl-icon svg
{
	display : flex;
	align-items : center;
	justify-content : center;
	
	width : 2.25rem;
	height : 2.25rem;  

	cursor : pointer;

	color : #04a1d1;

	fill : currentColor;
	stroke : currentColor;
	stroke-width : 0;
}

.xl-icon:hover
{
	background : #c10c2c;
}

.xl-icon svg:hover
{
	color : #c4c7ca;
}

.bottom-clock
{
	font-family : 'Tulpen One', cursive;

	display : flex;
	align-items : center;
	flex-flow : row nowrap;
	justify-content : space-evenly;

	user-select : none;
	pointer-events : none;

	width : 80%;	
	height : 3.125rem;
}

#time
{
	font-size : 2rem;
	letter-spacing : .2rem;

	color : #cf950d;
}

#day
{
	font-size : 1.25rem;

	letter-spacing : .4rem;
	text-transform : uppercase;

	color : #afac6d;
}

/* cover effect */
.scale-out-enter-active {transition: all .35s ease-in-out; } 
.scale-out-leave-active {transition: all .35s ease-in-out; } 
.scale-out-enter {transform: scale(.55); pointer-events: none; opacity: 0; } 
.scale-out-leave-to {transform: scale(1.2); pointer-events: none; opacity: 0; } 
.scale-in-enter-active {transition: all .35s ease-in-out; } 
.scale-in-leave-active {transition: all .35s ease-in-out; } 
.scale-in-enter {transform: scale(1.2); pointer-events: none; opacity: 0; } 
.scale-in-leave-to {transform: scale(.55); pointer-events: none; opacity: 0; }

/* ------ end main theme --------- */


/* ---- second theme ------ */

.second-theme .container
{
	background : url(../img/back.svg) no-repeat center,#090e16;
	background-size : cover;
}

.second-theme .player
{	
	background: #090e16;
	box-shadow : -14px -14px 60px #010f0b, 30px 30px 60px #04241c;	
}

.second-theme .top-icon
{
	color : #962e10;
}

.second-theme .point a 
{
	background : #095f49;
}

.second-theme .point a:hover 
{
	background : #E19231;
}

.second-theme .time-radio
{
	color : #c10c2c;
}

.second-theme .main
{
	color : #ae3412;
	background : #0b111a;
}

.second-theme .pn-icon svg
{
	color : #0a674f;
}

.second-theme .pn-icon svg:hover
{
	width : 1.75rem;
	height : 1.75rem;

	color : #c10c2c;
}

.second-theme .xl-icon
{
	background : #095844;
}

.second-theme .xl-icon svg
{
	color : #12b48b;
}

.second-theme .xl-icon:hover
{
	background : #293c54;
}

.second-theme .xl-icon svg:hover
{
	color : #9eadb6;
}

/* ------- end second theme ---------- */



/* loader */

.loader
{
	position : absolute;
	z-index : 9999;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;

	display : flex;
	align-items : center;
	justify-content : center;

	margin : auto;

	background : #daa520;
}

.loader svg
{
	position : absolute;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;

	width : 3.125rem;
	height : 3.125rem;

	margin : auto;
}

.loader svg polygon { animation : dash 2.5s cubic-bezier(.35, .04, .63, .95) infinite; stroke-dasharray : 17; }

@keyframes dash { to { stroke-dashoffset : 136; } }

/*   Responsive mobile screen max 340px   */

@media (max-width: 21.25rem)
{}

/* Responsive mobile screen max height 675px   */

@media (max-height: 42.1875rem)
{}

/*  Responsive mobile screen max 840px   */

@media ( max-width: 52.5rem )
{
	
.container
{
	background-image : none;
	background-color : #1b2344;
}

.second-theme .container
{
	background-image : none;
	background-color : #090e16;
}

.player,
.second-theme .player
{
	width : 100dvw;
	height : 100dvh;

	border-radius : 0;
	box-shadow : none;
}

.time-label svg,
.color-label svg,
.second-theme .time-label svg,
.second-theme .color-label svg
{
	width : 1.5rem;
	height : 1.5rem;
}

.album-img,
.second-theme .album-img
{
	border-top-left-radius : 0;
	border-top-right-radius : 0;
}

.main,
.second-theme .main
{
	padding : 0 2rem 0 3rem;

	border-bottom-right-radius : 0;
	border-bottom-left-radius : 0;
}

.name,
.second-theme .name
{
	font-size : 1rem;
}

.artist,
.second-theme .artist
{
	font-size : .8125rem;
}

.cover-img
{
    width : 100dvw;
	height : 25rem;	
}	

.pn-icon svg,
.second-theme .pn-icon svg
{
	width : 2rem;
	height : 2rem;
}

.pn-icon svg,
.second-theme .pn-icon svg
{
	width : 2rem;
	height : 2rem;
}

.xl-icon,
.second-theme .xl-icon
{
	width : 4.25rem;
	height : 4.25rem;
}

.xl-icon svg,
.second-theme .xl-icon svg
{
	width : 2.75rem;
	height : 2.75rem;
}

}

/*  Responsive desktop screen min 2000px   */

@media ( min-width: 125rem )
{}