/* css reset | yojeero */
*,::after,::before{box-sizing:border-box}*{margin:0}body,html{height:100%}body{line-height:1.5;min-height:100vh}canvas,img,picture,svg,video{display:block;max-width:100%}h1,h2,h3,h4,h5,h6,p{overflow-wrap:break-word}button,input,select,textarea{font:inherit}ol[role=list],ul[role=list]{list-style:none}

/* ---- main ------ */

body
{
    font-family : 'Jost','Segoe UI','Helvetica Neue', system-ui;
	font-size : 1rem;
	font-weight : 400;

	transition : all .5s ease-in-out;
	transition : color 1s;

	letter-spacing : 1px;
}

/* ------ dark theme -------- */

.container
{
	z-index : 1;

	display : flex;
	align-items : center;
	justify-content : center;

	width : 100%;
	height : 100%;	

	background : url(../img/neon.webp) no-repeat center, #1b2344;
	background-size : cover;
}

.player
{
	z-index : 999;

	display : flex;
	flex-direction : column;
    align-items : center;
	justify-content: flex-start;

	/* width : 320px;
	height : 680px;  */

	width : 20rem;
	height : 42.5rem;

	margin : 0;
	padding : 0;

	transition : all .5s ease-in-out;

	border-radius : 40px;

	/* background : #1b2344; */
	box-shadow : -30px -30px 60px #0b0e18, 30px 30px 60px #000;	
}

.player-bg
{
	display : flex;
	flex-direction : column;
    align-items : center;
	justify-content: flex-start;

	width : 20rem;
	height : 42.5rem;

	border-radius : 40px;

	background : #1b2344;
}

.top-icon
{
	display : flex;
	align-items : center;
	flex-flow : row nowrap;
	justify-content : space-around;

	width : 80%;
	height : 3.125rem;

	color : #bfbc8a; 
}

.point a
{
	display : flex;

	width : .5rem;
	height : .5rem;

	cursor : pointer;
	transition : all .3s ease;

	border : 1px solid #10152a;
	border-radius : 50%;

	background : #c10c2c;
}

.point a:hover
{
	background : #f1bc4c;
}

.time-label
{
	font-size : .875rem;
	font-variant : small-caps;

	display : flex;
	justify-content : space-between;

	width : 4.375rem;
	margin-left : 5rem;

	user-select : none;
	pointer-events : none;
}

.color-label
{
	font-size : .875rem;
	font-variant : small-caps;

	display : flex;
}

.color-label:hover
{
	color : #c10c2c;
}

.time-label svg ,
.color-label svg
{
	display : flex;

	width : 1.25rem;
	height : 1.25rem;

	cursor : pointer;
	transition : all .3s ease;

	fill : currentColor;
	stroke : currentColor;
	stroke-width : 0;
}

.time-radio
{
	font-size : .875rem;

	display : flex;
	display : none;
	justify-content : space-between;

	width : 4.375rem;
	margin-left : 5rem;

	user-select : none;
	pointer-events : none;

	color : #bfbc8a;
}

input[type=checkbox]
{
	visibility : hidden;

	width : 0;
	height : 0;
}

input[type=checkbox]:checked
{
	outline : none;
}

input:focus, input:active
{
	outline : none;
}

.cover-img
{
	position : relative;

	display : flex;	
    
    /* width : 320px;
	height : 400px;	*/

    width : 20rem;
	height : 25rem;	
}	

.album-img
{
	position : absolute;
	z-index : 600;
	top : 0;
	left : 0;
    
    width : 100%;
	height : 100%;

	border-top-left-radius : 40px;
	border-top-right-radius : 40px;

	background-size : cover;
}

.progress
{
	display : flex;
	align-items : flex-start;
	flex-flow : row nowrap;

	width : 100%;
	height : 1.5rem;

	user-select : none;
	pointer-events : none;
}

.progress_bar
{
	position : relative;
	z-index : 800;

	display : inline-block;
	overflow : hidden;

	width : 100%;
	height : 1.5rem;

	user-select : none;
	pointer-events : none;
}

.line
{
	position : absolute;
	z-index : 900;

	width : 0;
	height : inherit;

	background : #f1bc4c;
}

.main
{
	display : flex;
	align-items : center;
	flex : 1;
	flex-flow : row nowrap;
	justify-content : space-evenly;

	width : 100%;
	height : 100%;

	padding : 0 2rem;

	color : #bfbc8a;

	border-bottom-right-radius : 40px;
	border-bottom-left-radius : 40px;

	background : #10152a;
}

.album-info
{
	display : flex;
	flex-direction : column;

	width : 50%;

	user-select : none;
	text-align : left;
	pointer-events : none;
}

.name
{
	font-size : .8125rem;
}

.artist
{
	font-size : .6875rem;
}

.player-controls
{
	z-index : 999;

	display : flex;
	align-items : center;
	flex-flow : row nowrap;
	justify-content : center;

	width : 50%;
}

.pn-icon
{
	display : flex;
	align-items : center;
	justify-content : center;

	cursor : pointer;
	outline : none;
}

.pn-icon svg
{
	display : flex;
	align-items : center;
	justify-content : center;

	width : 1.5rem;
	height : 1.5rem;

	cursor : pointer;
	transition : all .3s ease;

	color : #c10c2c;

	fill : currentColor;
	stroke : currentColor;
	stroke-width : 0;
}

.pn-icon svg:hover
{
	width : 1.75rem;
	height : 1.75rem;

	color : #cf950d;
}

.xl-icon
{
	display : flex;
	align-items : center;
	justify-content : center;

	width : 3.5rem;
	height : 3.5rem;

	margin : 0 .5rem;
	padding : 0;

	cursor : pointer;
	transition : all .2s ease-in-out;

	border-radius : 50%;
	outline : none;

	border : 6px solid #2d3b73; 
	background : #25305e;
}

.xl-icon svg
{
	display : flex;
	align-items : center;
	justify-content : center;
	
	width : 2.25rem;
	height : 2.25rem;  

	cursor : pointer;

	color : #f1bc4c;
	/* color : #bfbc8a; */

	fill : currentColor;
	stroke : currentColor;
	stroke-width : 0;
}

.xl-icon:hover
{
	border : none;
	background : #c10c2c;
}

.xl-icon svg:hover
{
	color : #fff;
}

.bottom-clock
{
	font-family : 'Tulpen One', cursive;

	display : flex;
	align-items : center;
	flex-flow : row nowrap;
	justify-content : space-evenly;

	user-select : none;
	pointer-events : none;

	width : 80%;	
	height : 3.125rem;
}

#time
{
	font-size : 2rem;
	letter-spacing : .2rem;

	color : #3a9dcd;
}

#day
{
	font-size : 1.25rem;

	letter-spacing : .4rem;
	text-transform : uppercase;

	color : #bfbc8a;
}

/* cover effect */
.scale-out-enter-active {transition: all .35s ease-in-out; } 
.scale-out-leave-active {transition: all .35s ease-in-out; } 
.scale-out-enter {transform: scale(.55); pointer-events: none; opacity: 0; } 
.scale-out-leave-to {transform: scale(1.2); pointer-events: none; opacity: 0; } 
.scale-in-enter-active {transition: all .35s ease-in-out; } 
.scale-in-leave-active {transition: all .35s ease-in-out; } 
.scale-in-enter {transform: scale(1.2); pointer-events: none; opacity: 0; } 
.scale-in-leave-to {transform: scale(.55); pointer-events: none; opacity: 0; }

/* ------ end dark theme --------- */



/* ---- light theme ------ */

.theme-light .container
{
	background : url(../img/line.png) no-repeat center,#dde2e5;
	background-size : cover;
}

.theme-light .player
{
	/* background: #dde2e5; */
	box-shadow : 4px 4px 16px #c8d0e7, -3px -3px 14px #fff;
}

.theme-light .player-bg
{
	border : 1px solid #e0e4e8;
	background : #dde2e5;
}

.theme-light .top-icon
{
	color : #6b7f8d;
}

.theme-light .point a
{
	border : 1px solid #f1f1f1;
}

.theme-light .time-radio
{
	color : #75b4e5;
}

.theme-light .main
{
	color : #7b8f9c;
	background : #d5dbdf;
}

.theme-light .pn-icon svg
{
	color : #9eadb6;
}

.theme-light .pn-icon svg:hover
{
	width : 1.75rem;
	height : 1.75rem;

	color : #283035;
}

.theme-light .xl-icon
{
	border : none;
	background : #e0e4e8;
	box-shadow : 4px 4px 6px #fff, 1px 1px 6px #a0a0a0;
}

.theme-light .xl-icon svg
{
	color : #7b8f9c;
}

.theme-light .xl-icon:hover
{
	background : #ecf0f3;
	box-shadow : inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1;
}

.theme-light .xl-icon svg:hover
{
	color : #283035;
}

/* ------- end light theme ---------- */



/* loader */

.loader
{
	position : absolute;
	z-index : 9999;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;

	display : flex;
	align-items : center;
	justify-content : center;

	margin : auto;

	background : #daa520;
}

.loader svg
{
	position : absolute;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;

	width : 3.125rem;
	height : 3.125rem;

	margin : auto;
}

.loader svg polygon { animation : dash 2.5s cubic-bezier(.35, .04, .63, .95) infinite; stroke-dasharray : 17; }

@keyframes dash { to { stroke-dashoffset : 136; } }

/*   Responsive mobile screen max 340px   */

@media (max-width: 21.25rem)
{}

/* Responsive mobile screen max height 675px   */

@media (max-height: 42.1875rem)
{

	.container
{
	background-image : none;
	background-color : #1b2344;
}
	.theme-light .container
{
	background-image : none;
	background-color : #dde2e5;
}

.player, .theme-light .player
{
	box-shadow : none;	
	border-radius: 0;
}

.player-bg, .theme-light .player-bg 
{ 
	border-radius: 0;
}

.album-img, .theme-light .album-img
{

	border-top-left-radius : 0;
	border-top-right-radius : 0;
}

.main, .theme-light .main 
{
	border-bottom-left-radius : 0;
	border-bottom-right-radius : 0;
}

}

/*  Responsive mobile screen max 840px   */

@media ( max-width: 52.5rem )
{}

/*  Responsive desktop screen min 2000px   */

@media ( min-width: 125rem )
{}